# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/

cmake-build-debug/

CMakeLists\.txt
*.pcm
*~
build
*.root
*.pdf
*.png
*.gif

*.cxx_tmp_7349

*.aux

*.dvi

*.log

relazione/template\.synctex\.gz

*.toc

relazione/report\.synctex\.gz
